


.Login{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(90deg, rgb(174, 207, 165),rgb(41, 222, 191));
}


.Login .LoginBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 400px;
    height: 400px ;
    background-color: white;
    box-shadow: 0px 0px 10px gray;
    border-radius: 20px;

}
.Login .LoginInput{
    position: relative;
    margin-bottom: 5px;
}

.Login .LoginInput .BackgroundLabelVisible{
    position:absolute;
    left:15px;
    color: gray;
    pointer-events: none;
}

.Login .LoginInput .BackgroundLabelHidden{
    display: none;
}