

.Profile{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.Profile .ProfileBox{
    width: 600px;
    height: 300px;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 0 0 10px gray;
    border-radius: 20px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Profile .ProfileBox table,td{
    border: 2px solid black;
    border-collapse: collapse;
}

.Profile .ProfileBox td{
    padding-left: 5px;
    padding-top: 5px;
    min-width: 150px;
    text-align: center;
}