.QuestionUploader{
    padding-top: 10px;
    position: relative;
}

.QuestionUploader .QuestionUploaderCard{
    min-width: 400px;
    min-height: 200px;
    box-shadow: 0 0 10px gray;
    margin-bottom: 10px;
}

.QuestionUploader .QuestionFullImage{
    height: 500px;
    object-fit: contain;
}

.QuestionUploader .SuccessIcon,.FailureIcon{
    position:absolute;
    width: 40px;
    object-fit: contain;
    right: 0px;
    top: 0px;
    transform: translate(-50%,50%);
    pointer-events: none;
}