.SetterQuestions{
    padding-top: 10px;
}

.Hidden{
    display: none;
}
.Header{
    border-radius: 5px;
    box-shadow:0px 0px 10px gray;
    padding: 10px;
    margin-bottom: 10px;
}

.HeaderItem{
    display: inline;
    padding: 4px;
    border: 2px solid black;
    margin-right: 10px;
    text-decoration: none;
    color: green;
    background-color: white;
}


.HeaderItemSelected{
    color:greenyellow;
    border: 2px double black;
    background-color: black;
}

.SelectedContainer{
    border-radius: 5px;
    box-shadow:0px 0px 10px gray;
    padding: 10px;
    margin-bottom: 10px;
}

.QuestionCard{
    border-radius: 5px;
    box-shadow:0px 0px 10px gray;
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
}
.QuestionCardSuccessImage{
    position: absolute;
    left:0%;
}